#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.red {
  filter: drop-shadow(0 0 2em #f83011);
}

.yellow {
  filter: drop-shadow(0 0 2em #f8e80b);
}

.green {
  filter: drop-shadow(0 0 2em #aff806aa);
}

.purple {
  filter: drop-shadow(0 0 2em #b806f8de);
}

